body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.main-title, .subtitle{
    color: #5B9BD5;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight:bold;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
}

#logo {
    flex: 1;
    margin: 10px 0;
}

nav {
    flex: 3;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5B9BD5;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 100%;
    cursor: pointer;
}

.menu-entry {
    display: inline-block;
}

.divider{
    font-size:20px;
}

.divider{
    font-size:16px;
}

.content {
    display: flex;
    gap: 20px;
}

.left {
    flex: 2;
}

.right {
    flex: 1;
}

.to-be-block {
    display: block;
}

#group-photo {
    max-width: 100%;
}

.left p {
    margin-top: 0;
}

label {
    margin-top: 10px;
}

#email, #question{
    width:85%;
}

#submit {
    color: #ffffff;
    background-color: #5B9BD5;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 35px;
    margin-top: 20px;
    cursor:pointer;
}

footer {
    margin: 20px 0px;
}

footer p {
    margin: 0;
}

.copyright {
    font-size: 16px;
}

.madeby {
    font-size: 14px;
}

/* Responsive layout */

@media (max-width: 600px) {

    header, .content {
        flex-direction: column;
    }

    #logo-wrapper{
        text-align: center;
        margin:15px 0;
    }

    .menu-entry {
        font-size: 14px;
    }

    .main-title, .subtitle{
        text-align:center
    }

    .divider{
        font-size:16px;
    }

    .left p{
        text-align:center;
    }

    form{
        text-align:center;
    }

    footer {
        margin: 20px;
    }

    .right{
        margin:0px 10px 30px 10px;

    }

    #email, #question {
        width:80%;
    }

    #submit {
        width: 80%;
    }

}