body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}


#logo {
    margin: 10px 0;
}


.menu {
    color: #5B9BD5;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: 100%;
    cursor: pointer;
    text-align: center;

}

.menu-entry {
    display: inline-block;

}


.to-be-block {
    display: block;
}

.content {
    padding-top: 20px;
    padding-bottom:20px;
}

#group-photo {
    max-width: 100%;
}

.main-title, .subtitle{
    color: #5B9BD5;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight:bold;
    font-family: Helvetica, Arial, sans-serif;
}

.main-title{
font-size:36px;
}

.subtitle{
font-size:28px;
}

.left p {
    margin-top: 0;
}

footer {
    margin: 20px 0px;
}

footer p {
    margin: 0;
}

label {
    margin-top: 10px;
}

#submit {
    color: #ffffff;
    background-color: #5B9BD5;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 35px;
    margin-top: 20px;
}

.copyright {
    font-size: 16px;
}

.madeby {
    font-size: 14px;
}

.blue {
    color: #5B9BD5;
}

#email, #question{
    width:85%;
}


/* Responsive Design */


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {


    #logo {
        text-align: center;
    }

    .menu-entry {
        font-size: 14px;
    }

    h1,
    h2 {
        text-align: center
    }

    .left p {
        text-align: center;
    }

    form {
        text-align: center;
    }

    footer {
        margin: 20px;
    }

    .right {
        padding: 30px 10px 30px 10px;

    }

    #email,
    #question {
        width: 80%;
    }

    #submit {
        width: 80%;
    }



}